:root {
  font-family: Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(50, 47, 151, 0.631);
  color: #251e4b;
}

* {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-width: 700px;
  min-height: 100vh;
  max-width: 1280px;
  padding: 20px;
  margin: auto;
}
